---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center items-center min-h-screen">
		<Container>

		</Container>
	</main>
</Layout>
